body, html {
    font-size: 18px;
    margin: 0;
    word-break: keep-all;
    font-family: "IBM Plex Sans", sans-serif;
    overflow-x: hidden;
    background-color: rgb(33, 36, 40);
    color: rgb(211, 212, 212);
}

section{
    padding:0px 50px;
    margin: 50px;
}
/*Navbar*/
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: bolder;
    background-color:limegreen;
    align-items: center;
    z-index: 1;
}

div {
    padding : 20px;
}

span {
    color: rgb(155, 155, 155);
}

footer {
    color: lime;
}

footer a:link {

    color:lime;
    text-decoration: none;
}
footer a:hover {

    color:white;
    text-decoration: none;
}